<footer class="footer">
  <hr>
  <small>
    A blog by <a href="http://www.github.com/itsWill">Guilherme Mansur</a></br>
    <%= link_to image_tag("email_icon.png", size: "15x10"), "mailto:guilhermerpmansur@gmail.com" %>
    <%= link_to "guilhermerpmansur@gmail.com", "mailto:guilhermerpmansur@gmail" %>
  </small>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-68838815-1', 'auto');
    ga('send', 'pageview');
  </script>
</footer>
