<footer class="footer">
  <hr>
  <small>
    A blog by <a href="http://www.github.com/itsWill">Guilherme Mansur</a></br>
    <%= link_to image_tag("email_icon.png", size: "15x10"), "mailto:guilhermerpmansur@gmail.com" %>
    <%= link_to "guilhermerpmansur@gmail.com", "mailto:guilhermerpmansur@gmail" %>
  </small>
</footer>
